[Unit]
Description=Car WebRTC Video Streaming
After=network.target qmi_reconnect.service uv4l_raspicam.service

[Service]
Type=oneshot
ExecStart=/bin/bash car_video_streaming.sh
WorkingDirectory=/usr/src
StandardOutput=inherit
StandardError=inherit
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
